/*
$darkGrey: #20232a;
$lightGrey: #2B2F38;
$blue: #61dafb;
 */

#Nav {
    background: #20232a;
    color: #61dafb;
    position: fixed;
    width: 200px;
    height: 100%;
    float: left;
    z-index: 3;
}

#Nav #NavButton {
    cursor: pointer;
}

#Nav.closed {
    width: 50px;
}

#Nav.closed #NavSearch, #Nav.closed .NavEntry span {
    display: none;
}